
@{
    ViewData["Title"] = "Aboutus";
}
<body class="body-content">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">About US</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">About US</a>
            </div>
        </div>
    </section>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2 class="headingtextcolors ">How you can save time & money in your Business</h2>
                <p class="testfontsize">
                    We have a team that has grown rapidly to include knowledge and expertise in a variety of technologies and frameworks,
                    and we have used these to create some of the best products out there. Despite this, each of us comes to work every day with
                    the mission to learn new things and to make existing things better. We help each other strive to make each software revision
                    faster or better than the last. Our quality and the way we organize the process & everything is as simple as it sounds:
                    if you are not satisfied, you can keep looking for other proposals! You won't lose anything!
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="675" height="381" src="https://www.youtube.com/embed/oPhKhTI0Lss" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 animatedParent">
                <h3 class="animated bounceInDown headingtextcolors">Who We Are?</h3>
                <p class="testfontsize">
                    Tri E-solutions is a leading global provider of software engineering services for companies in the mobile, desktop,
                    server, and embedded systems industries.
                </p>
                <span class="btn  backgroundcolors">
                    <a class="font-weight-bold" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="Aboutus">Learn More</a>
                </span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6 animatedParent">
                <h3 class="animated bounceInDown headingtextcolors">Our Mission</h3>
                <p class="testfontsize">We love to build and refine technologies that improve lives while developing great relationships along the way.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12 animatedParent">
                    <h2 class="text-center animated bounceInDown headingtextcolors font-italic">Why Choose Us?</h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12  animatedParent"style="height:350px">
                    <div class=" cadshover animated bounceInLeft">
                        <center class="mt-4">
                            <img src="~/images/idea.jpg" class="mt-5" style="border-radius:50%" />
                          
                        </center>
                        <div class="card-body text-center">
                            <h4 class="card-title headingtextcolors" style="color: #05007f">From Idea To Product</h4>
                            <p class="testfontsize">
                                We will use our extensive knowledge of technology to propose a custom solution fitted to your specific
                                requirements and turn your idea into a successful product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 animatedParent"style="height:350px">
                    <div class=" cadshover animated bounceInDown">
                        <center class="mt-4">
                            <img src="~/images/deign.jpg" class="mt-5" style="border-radius:50%" />
                        </center>
                        <div class="card-body text-center">
                            <h4 class="card-title headingtextcolors" style="color: #05007f">Well Thought-Out Design</h4>
                            <p class="testfontsize">
                                When a new development kicks off, we start by writing a software design specification which clearly defines
                                the goals and requirements of the product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 animatedParent"style="height:350px">
                    <div class=" cadshover animated bounceInRight">
                        <center class="mt-4">

                            <img src="~/images/Adapt.jpg" class="mt-5" style="border-radius:50%"/>
                        </center>
                        <div class="card-body text-center">
                            <h4 class="card-title headingtextcolors" style="color: #05007f">Adaptability</h4>
                            <p class="testfontsize">
                                We follow the Agile software development methodology which enables us to respond to changes in requirements & end-user
                                needs rapidly & cost-effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-5">
                <div class="col-lg-4 col-md-6 col-sm-12 animatedParent"style="height:350px">
                    <div class=" cadshover animated bounceInRight">
                        <center class="mt-4">
                            <img src="~/images/Accountability.jpg" class="bg-light rounded-circle mt-5 w-25" />
                        </center>
                        <div class="card-body text-center">
                            <h4 class="card-title headingtextcolors" style="color:#05007f">Accountability</h4>
                            <p class="testfontsize">
                                We keep our customers in the loop & email a weekly project update, progress made, issues encountered so you
                                can keep track of costs & status at any point in time.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 animatedParent"style="height:350px">
                    <div class=" cadshover animated bounceInDown">
                        <center class="mt-4">
                            <img src="~/images/debt.jpg" class="bg-light rounded-circle mt-5 w-25" />
                        </center>
                        <div class="card-body text-center">
                            <h4 class="card-title headingtextcolors" style="color: #05007f">Low Technical Debt</h4>
                            <p class="testfontsize">
                                Our test-driven approach ensures our code is always testable. This helps in keeping ‘technical debt’
                                low and deliver products of the highest quality.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 animatedParent"style="height:350px">
                    <div class=" cadshover animated bounceInLeft">
                        <center class="mt-4">
                            <img src="~/images/righttool.png" class="bg-light rounded-circle mt-5 w-25" />      
                        </center>
                        <div class="card-body text-center">
                            <h4 class="card-title headingtextcolors" style="color: #05007f">The Right Tools</h4>
                            <p class="testfontsize">
                                We set up every software project with source control & its own Wiki-based online documentation on our server.
                                It allows you to report any issue conveniently.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>