
@{
    ViewData["Title"] = "Careers";
}

<body class="body-cntent">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Careers</h1>
            <div class="text-center">

                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:red">Careers</a>

            </div>
        </div>
    </section>
    

</body>