
@{
    ViewData["Title"] = "CRMSolutions";
}

<body class="body-content">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">Services</a>
            </div>
        </div>
    </section>
    <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row ">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4 class="">
                                <a class="sidenavtexthovers" style="text-decoration:none;color:black" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Custom Software Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light  sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="WebDevelopment">Web Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="MobileAppDevelopment">Mobile application</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="DataBaseDevelopment">Database Development</a>
                            </h4>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="POSSolutions">POS Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="ERPSolutions">ERP Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12" style="background-color:#f0aa0c">
                            <h4>
                                <a class="" style="text-decoration:none; color:white" asp-area="" asp-controller="Home" asp-action="CRMSolutions">CRM Solutions</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <img class="w-100" src="~/images/crm1.jpg" alt="Responsive image /">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Regardless of your business, your relationships with your customers are your greatest asset in a tough economy.
                                Today, many organizations are looking at ways to become more client-centric, using supporting technologies such as customer
                                relationship management (CRM) software. But, with all the CRM solutions available today,
                                it can be difficult to know where to start in determining which solution best fits your needs.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p  class="testfontsize">
                                The right CRM solution can embed best practices unique to your industry, work with your company's specific business processes,
                                help you keep pace with rapid changes in your business and market, deliver quantifiable business results, and mitigate expense
                                and risk for your business.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                A good CRM gives you insights into running your business. A smart CRM gives you the information you need in a way that you can use it.
                                An ideal CRM offers you a solution to simplify your processes from day one.Our  CRM includes the good, the smart,
                                and the ideal in an enterprise-ready package.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row animatedParent">
                        <div class="col-12 bg-light animated bounceInDown">
                            <h3 class="mt-5 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="btn mb-3 w-50 h-30 font-weight-bold buttonhover" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="row animatedParent">
                        <div class="col animated bounceInDown">
                            <h3 class="mt-5 headingtextcolors">Sell More With CRM</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <hr style="border: 1px solid #f0aa0c" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="testfontsize">
                                Integrated CRM which makes Customer Management easy with Contacts, Leads, Opportunities, Accounts, Campaigns, Products, Reports,
                                Revenue Forecasting and more.
                            </p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft ">
                                <div class="col-4 servicesIconDiv">
                                  
                                        <i class="fa fa-outdent fa-4x servicesIcon"style="left:25%;top:35%"></i> 
                                    
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Multiple Channels, One Conversation</h3>
                                    <p class="mb-5 testfontsize">
                                        Meet your customers, no matter the medium. Connect via phone, live chat, email, social media, and in person.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv">
   
                                    <span class="icon fa fa-rocket fa-4x servicesIcon"style="left:23%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Shift Your Team Into High Gear</h3>
                                    <p class="mb-5 testfontsize">
                                        Use analytics and reports for detailed metrics about your team's performance and your customers' life cycle.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon fa fa-retweet fa-4x servicesIcon" style="left:15%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Software That Works The Way You Do.</h3>
                                    <p class="mb-5 testfontsize">
                                        Adapt your CRM to meet the market. Customize how you collect and deploy key data across your organization.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                         
                                    <i class="fas fa-hands-helping fa-4x servicesIcon"style="left:20%;top:35%"></i>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 servicesheadingtexthover">More Deals, In Less Time.</h3>
                                    <p class="mt-5 pt-3 testfontsize">
                                        From contact to close, cut the energy it takes to pass leads through the pipeline with the best sales productivity tools.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-12 mb-2">
                                <p class="testfontsize">
                                    CRM solutions help ensure that your sales, marketing, and support efforts are all working toward a common goal,
                                    so you can take your business success to a whole new level.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5">
                            <div class="col-12 mt-5 pt-5 animated bounceInLeft">
                                <img class="w-100" src="~/images/Channel Optimization.jpg" alt="Responsive image /">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row animated bounceInRight">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">Channel Optimization</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Whether social media, live chat or co-browsing, video interaction, or classic channels like the telephone:
                                        We use automated analysis to determine the current customer and contact situation in real time, and always direct our
                                        communication into the optimum channel. In order to reach your customers in the optimum manner, we always direct our
                                        customer communication into the appropriate channel.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-12 animated bounceInDown">
                                    <h3 class="mb-5 headingtextcolors">Industry solutions</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Businesses representing many different industries rely on our integrated solution portfolio and our longstanding experience.
                                        Our customers range from telecommunication firms to energy suppliers, banks, insurance companies, e-commerce retailers and airlines.
                                        Through the expertise we have gained serving a broad spectrum of industries,
                                        we understand the specific requirements of your business in detail.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInDown mt-5">
                            <div class="col-12 mt-5 pt-5">
                                <img class="w-100" src="~/images/Industry solutions.jpg" alt="Responsive image /">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>