
@{
    ViewData["Title"] = "CustomSoftwareDevelopment";
}

<body class="body-content ">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color: #f0aa0c">Services</a>
            </div>
        </div>
</section>
  <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
      <div class="col">
          <div class="row">
              <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                  <div class="row">
                      <div class="col-12" style="background-color: #f0aa0c">
                          <h4 class="">
                              <a class="" style="text-decoration:none; color:white" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Custom Software Development</a>
                          </h4>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12 bg-light sidenavbghover">
                          <h4>
                              <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="WebDevelopment">Web Development</a>
                          </h4>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12 bg-light sidenavbghover">
                          <h4>
                              <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="MobileAppDevelopment">Mobile application</a>
                          </h4>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12 bg-light sidenavbghover">
                          <h4>
                              <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="DataBaseDevelopment">Database Development</a>
                          </h4>

                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12 bg-light sidenavbghover">
                          <h4>
                              <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="POSSolutions">POS Solutions</a>
                          </h4>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12 bg-light sidenavbghover">
                          <h4>
                              <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="ERPSolutions">ERP Solutions</a>
                          </h4>
                      </div>
                  </div>
                  <div class="row mt-2">
                      <div class="col-12 bg-light sidenavbghover">
                          <h4>
                              <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CRMSolutions">CRM Solutions</a>
                          </h4>

                      </div>
                  </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                  <div class="row">
                      <div class="col-12 mb-2">
                          <img class="w-100" src="~/images/custom software development.jpg" alt="Responsive image /">
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-12">
                          <p class="testfontsize">
                              Matching market trends and business opportunities with innovative software products in the shortest time possible is an ongoing
                              challenge for today’s enterprises.Tri E-Solutions offers a full spectrum of custom software development services to meet those challenges,
                              from application architecture,
                              application development, testing and customization.
                          </p>
                      </div>
                  </div>
                  <div class=" row bt-3">
                      <div class="col-12">
                          <p class="testfontsize">
                              Our software development capabilities are based on industry best practices to meet the most complex requirements.
                              We apply agile and iterative development, adapted to a geographically distributed environment concerning application concepts,
                              software architecture and specifications. We understand that time-to-market is an important differentiator in today’s business environment.
                              We strive to develop and deliver state of the art software with quality, in the shortest amount of time possible.
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="mt-3" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col-12 bg-light">
                            <h3 class="mt-5 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="btn mb-3 w-50 h-30 font-weight-bold buttonhover" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12 animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col">
                            <h3 class="mt-5 headingtextcolors">Software Development Services</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <hr style="border: 1px solid #f0aa0c"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="testfontsize">Tri E-Solutions offers you a large variety of software development services.</p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft">
                                <div class="col-4 servicesIconDiv">
                                        <i class="fas fa-file-code fa-4x m-5 servicesIcon" style="left:7%;top:30%"></i> 
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Product Development</h3>
                                    <p class="mb-5 testfontsize">
                                        At Tri E-Solutions, we’re happy to begin a conversation with you at the beginning of your project or
                                        once it’s already underway.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv"> 
                                    <i class="fa fa-window-restore fa-4x servicesIcon" aria-hidden="true" style="left:25%;top:40%"></i>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 pt-2 servicesheadingtexthover">Project Recovery</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        If your existing provider isn’t working out or you need help rebalancing an internal team, Tri E-Solutions
                                        is here for you.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <i class="fa fa-cogs fa-4x mt-5 servicesIcon" aria-hidden="true"style="left:15%;top:30%"></i>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 pt-2 servicesheadingtexthover">Software Enhancement & Modernization</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        Tri E-Solutions will utilize latest and always up-to-date technologies to lengthen the life of your legacy system.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <i class="fas fa-smog fa-4x mt-5 servicesIcon"style="left:20%;top:30%"></i>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Entreprise Solutions Development</h3>
                                    <p class="mb-5 testfontsize">
                                        Tri E-Solutions depth of experience enables us to design Á develop varying complexities of business enterprise solutions.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-12 mb-2 testfontsize">
                                <p>
                                    There are all Happy and Free these days you wanna be where everybody knows your
                                    name fish do not fry in the kitchen and beans do not burn on the grill took a whole lotta trying just to get up that hill.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInLeft mt-5 pt-4">
                            <div class="col-12 mt-5 pt-5">
                                <img class="w-100" style="" src="~/images/businessUnderstanding.jpg" alt="Responsive image /">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInRight">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">Understanding your business</h3>
                                    <hr style="border: 1px solid #f0aa0c" />
                                    <p class="mb-5 testfontsize">
                                        We begin every relationship with an in-depth discussion about the short and long-term desires for your project.
                                        Our engineers will review any hidden requirements and your existing codebase, if you have one. When we know your goals and understand existing software,
                                        we are able to better ensure the success of the project before we even write our first line of code.
                                        By the end of this phase, Markhor Technologies works together with you to make a plan of development that accords with your goals, your timeline and your operating budget.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInDown">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">Business Insights</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Tell us your needs, desired functionality, the business methods used, and we will design the most appropriate solution
                                        to meet your needs. Markhor Technologies works with the knowledge that most businesses will evolve and change,
                                        so we build your software solutions scalable and flexible enough for easy adaptation down the road.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 animated bounceInDown">
                            <div class="col-12 mt-5">
                                <img class="w-100" src="~/images/BusinessInsights.png" alt="Responsive image /">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
