
@{
    ViewData["Title"] = "DataBaseDevelopment";
}
<body class="body-content">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">Services</a>
            </div>
        </div>
    </section>
    <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4 class="">
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Custom Software Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="WebDevelopment">Web Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="MobileAppDevelopment">Mobile application</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12" style="background-color:#f0aa0c">
                            <h4>
                                <a class="" style="text-decoration:none; color:white" asp-area="" asp-controller="Home" asp-action="DataBaseDevelopment">Database Development</a>
                            </h4>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="POSSolutions">POS Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="ERPSolutions">ERP Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CRMSolutions">CRM Solutions</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <img class="w-100" src="~/images/database1.jpg" alt="Responsive image /">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                               Tri E-Solutions provides you with the provision of having a customized, well defined, secured database model 
                                that suits your business operations and enables you to retrieve information easily, rapidly, and securely. 
                                This is provided by seamlessly integrating with the client's Relational Database Management Systems (RDBMS), be it Oracle,
                                Microsoft SQL Server, MS Access, or others.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Today's businesses depend on their databases to provide information essential for day-to-day operations, 
                                especially in case of electronic commerce businesses who has a definite advantage with up-to-date database access.
                                Good design forms the foundation of any database,
                               and experienced hands are required in the automation process to design for optimum and stable performance.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Tri E-Solutions have been constantly working on these platforms and have attained a level of expertise. We apply proven
                                methodologies to design, develop, 
                                integrate and implement database systems to attain its optimum level of performance and maximize security to meet the 
                                client's business model.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col-12 bg-light">
                            <h3 class="mt-5 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="btn mb-3 w-50 h-30 font-weight-bold buttonhover" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12 animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col">
                            <h3 class="mt-5 headingtextcolors">Why Do We Really Need Database Development?</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <hr style="border: 1px solid #f0aa0c" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="testfontsize">
                                Database development offers security and assurance of protection of the data. The data can also be referred to, 
                                shared or easily verified without any hassle. Such applications are easy to install and use as well.
                                They are hassle-free and efficient. A few of the major advantages of database development are as follows:
                            </p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft">
                                <div class="col-lg-4 col-md-5 col-sm-5 servicesIconDiv">
                                    <span class="icon fa fa-users fa-4x servicesIcon"style="left:15%;top:35%"></span>
                                </div>
                                <div class="col-lg-8 col-md-7 col-sm-7 bg-light p-5">
                                    <h3 class="mt-5 servicesheadingtexthover">Efficient User Management</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        Database development offers full security of your personal data & attaches a few criteria to your identification.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv">
                                    <i class="fab fa-xbox fa-4x servicesIcon"style="left:25%;top:35%"></i>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Security And Back-Up</h3>
                                    <p class="mb-5 testfontsize">
                                        The software can identify the user & necessary settings have been adopted. Only owner can access the data, if he wishes so.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">

                                    <span class="icon fa fa-universal-access fa-4x servicesIcon"style="left:20%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Easy Access</h3>
                                    <p class="mb-5 testfontsize">
                                        The data tapped into the software can be extracted easily. It helps in immediate reference and retrieval of data.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon fa fa-user-plus fa-4x servicesIcon"style="left:20%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 servicesheadingtexthover">Data Integration</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        Data of any year or job can be collaborated or disintegrated easily. It is trouble-free and efficient.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="col-12 mb-2">
                                <p class="testfontsize">
                                    We offer to you the latest database development technology. We consider your needs and produce output accordingly. 
                                    We aid you in setting up software which is designed just for your needs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 pt-5 animated bounceInLeft">
                            <div class="col-12 mt-5 pt-5">
                                <img class="w-100 mt-2" src="~/images/Database Development.jpg" alt="Responsive image /">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInRight">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">Quality Yet Cheap Database Development</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Affordability is an important aspect that small and medium size businesses are concerned about and why not? 
                                        Even if it is a completely established business, cost is always considered and benefits are weighed. Having said 
                                        that, we assure you that our cheap database development company, Markhor Technologies, offers the most affordable 
                                        packages for all our services. Our database consultants and designers 
                                        will coordinate with your team to develop the best database and software solutions for your company and 
                                        make sure the cost doesn’t bother you much.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInDown">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">Tri E-Solutions Is All That Your Business Needs</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        We work in cohesion with our clients to extract information about their needs and develop a software customized 
                                        in accordance with their business goals.
                                        Our software development company designs and produces a software that works perfectly to boost the efficacy of
                                        your business. Here’s how we do it for you:

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 animated bounceInDown">
                            <div class="col-12 mt-5 pt-5">
                                <img class="w-100" src="~/images/businesses-need-seo.png" alt="Responsive image /">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>