
@{
    ViewData["Title"] = "ERPSolutions";
}

<body class="body-content">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">Services</a>
            </div>
        </div>
    </section>
    <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4 class="">
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Custom Software Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="WebDevelopment">Web Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="MobileAppDevelopment">Mobile application</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="DataBaseDevelopment">Database Development</a>
                            </h4>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="POSSolutions">POS Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12" style="background-color:#f0aa0c">
                            <h4>
                                <a class="" style="text-decoration:none; color:white" asp-area="" asp-controller="Home" asp-action="ERPSolutions">ERP Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CRMSolutions">CRM Solutions</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <img class="w-100" src="~/images/ERP.png" alt="Responsive image /">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Every business has unique processes and needs, but ultimately, every business needs technology with comprehensive business
                                functionality that ties the entire enterprise together, connecting all the moving parts and providing better visibility 
                                into operations. Markhor Technologies offers integrated Enterprise Resource Planning (ERP) solutions that help businesses
                                operate more effectively and see the big picture, so they can make strategic decisions that keep them efficient and profitable.

                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Regardless of your industry, you need an ERP software solution to be the backbone of your business,
                                automating and supporting business processes. The best ERP solutions, however,
                                are fully integrated with all your systems across the enterprise, bringing value to every functional area, from finance to
                                customer service to management,
                                and if you’re in manufacturing, this includes your engineering, design and supply chain teams as well.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Most importantly, your ERP system should fit the way you do business, not the other way around. Tri E-Solutions ERP solutions are
                                designed with deep functional fit built in, 
                                but they are also highly customizable to align even more closely with your unique business processes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col-12 bg-light">
                            <h3 class="mt-5 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="btn mb-3 w-75 font-weight-bold buttonhover" style="background-color: #f0aa0c;height:50px!important">
                                    <a class=" "style="color:white;text-decoration:none;font-size:20px;padding-top:15px!important" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="row animatedParent">
                        <div class="col animated bounceInDown">
                            <h3 class="mt-5 headingtextcolors">Products with purpose</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <hr style="border: 1px solid #f0aa0c" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="testfontsize">
                                While we have the roots of an ERP software company, we’re continually evolving. Through our growth,
                                we now specialize in delivering niche-focused solutions across both enterprise and the public sector.

                            </p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon fa fa-bus fa-4x servicesIcon"style="left:24%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 servicesheadingtexthover">Supply Chain Solutions</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        We offer a supply chain management technology that helps manufacturers keep control over this critical component of their business.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv">
                                   
                                    <span class="icon fa fa-cogs fa-4x servicesIcon"style="left:15%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Manufacturing Solutions</h3>
                                    <p class="mb-5 testfontsize">
                                        Tri E-Solutions offers technology that fits the needs of manufacturers to help them manage complex processes across
                                        the enterprise.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon 	fa fa-copyright fa-4x servicesIcon"style="left:24%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Government Organizations Solutions</h3>
                                    <p class="mb-5 testfontsize">
                                        Optimize government best practices with rich functionality that can be tailored to suit your area of citizen relations.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon fa fa-plus-square fa-4x servicesIcon"style="left:25%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Hospital Patient Flow & Compliance Solutions</h3>
                                    <p class="mb-5 testfontsize">
                                        Tri E-Solutions  helps healthcare organizations in knowledge management, patient flow and patient safety.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-12 mb-2">
                                <p class="testfontsize">
                                    As regulation increases so does complexity. Our solutions facilitate better reporting
                                    and controls with inspection plans to ANSI, NIST, and ISO standards that are automated.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 animatedParent">
                            <div class="col-12 mt-5 pt-5 animated bounceInLeft">
                                <img class="w-100" src="~/images/Focus on your success.jpg" alt="Responsive image /">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row animatedParent">
                                <div class="col-12 animated bounceInRight">
                                    <h3 class="mb-5 headingtextcolors">Focus on your success</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Our customer centric approach is the core of everything we do. Through our many collaboration touchpoints,
                                        our clients contribute to the solutions we provide – sharing in a critical component of their business and success.
                                        You are living in a fast-paced world where you can get distracted easily by a lot of things everyday. 
                                        You can try everything but if you lack focus in your life,
                                        it is pretty impossible to become successful.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row animatedParent">
                                <div class="col-12  animated bounceInDown">
                                    <h3 class="mb-5 headingtextcolors">More than a software provider</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Success is often determined by the partnerships you form. What sets us apart is our industry-focused solutions, 
                                        coupled with industry-focused minds. This helps turn an important software purchase into a lasting customer journey. 
                                        The difference is clear – from your first interaction to the many that follow.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 animatedParent">
                            <div class="col-12 mt-5  animated bounceInDown">
                                <img class="w-100" src="~/images/softwareprovider.jpg" alt="Responsive image /">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
