@{
    ViewData["Title"] = "Home Page";
}
<body class="body-content mt-5 pt-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/WebDevelopment.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/ecommerce-banner.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/AllSoftwaresSlider.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/MobileDevelopment.png" alt="Third slide">
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5" id="">
        <div class="col">
            <div class="row text-center animatedParent">
                <div class="col animated bounceInDown">
                    <h2 class=" headingtextcolors font-italic font-weight-bold" style="color:#f0aa0c">Services</h2>
                </div>
            </div>
            <div class="row mt-3 animatedParent">
                <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInLeft cadshover"style="height:350px">
                    <div class=" services-block-six">
                        <div class="inner-box">
                            <div class="icon-box">
                                <i class="fa fa-plane fa-rotate-270  text-white"></i>
                            </div>
                        </div>
                        <div class="mainservieshovertext card-body text-center">
                            <h4 class="card-title headingtextcolors font-weight-bold">Tour & Travel Management</h4>
                            <p class="testfontsize">
                                System is designed & developed for travelling agencies & used for
                                dealing with activities like package tours, hotel & air tickets booking, visa processing etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInDown cadshover"style="height:350px">
                    <div class=" services-block-six">
                        <div class="inner-box">
                            <div class="icon-box">
                                <i class="fa fa-laptop text-white"></i>
                            </div>
                        </div>
                        <div class="mainservieshovertext card-body text-center">
                            <h4 class="card-title headingtextcolors font-weight-bold">Web Application Develoment</h4>
                            <p class="testfontsize">
                                As web technology moves, so do we. And as your business grows and changes, so does our expertise,
                                constantly adapting to your needs and objectives.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInDown cadshover"style="height:350px">
                    <div class="services-block-six">
                        <div class="inner-box">
                            <div class="icon-box">
                                <i class="fa fa-database text-white"></i>
                            </div>
                        </div>
                        <div class="mainservieshovertext card-body text-center">
                            <h4 class="card-title headingtextcolors font-weight-bold">Database Develoment</h4>
                            <p class="testfontsize">
                                Reduce the amount of time you spend managing data.
                                Analyse data in a variety of ways.
                                Promote a disciplined approach to data management.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInRight cadshover" style="height:350px">
                    <div class="services-block-six ">
                        <div class="inner-box">
                            <div class="icon-box">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                        </div>
                        <div class="mainservieshovertext card-body text-center">
                            <h4 class="card-title headingtextcolors font-weight-bold">Mobile Application Develoment</h4>
                            <p class="testfontsize">
                                Turn your great ideas into profitable mobile and software products with our excellent
                                mobile app development and software development services.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-light mt-5">
        <div class="offset-1">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="row animatedParent">
                        <div class="col-12">
                            <div class="col text-center animated bounceInDown">
                                <h2 class="font-italic font-weight-bold headingtextcolors">Our <span style="color:#f0aa0c">Services</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row animatedParent">
                        <div class="offset-1 m-3 animated bounceInLeft" style="height: 100px;width: 100px;border: 2px solid #f0aa0c">
                            <h1 class="pt-3 text-center headingtextcolors">2</h1>
                        </div>
                        <div class="col-6 m-3 animated bounceInRight">
                            <h4>
                                Years <br />
                                Of Working<br />
                                Experince
                            </h4>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="">
                            <p class="text-center testfontsize">
                                Since 2019, Tri E-Solutions has been delivering <br />
                                full cycle Software Development Services to customers.
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="text-center mb-5" style="margin-left:25%">
                            <span class="btn mt-5 buttonhover" style="background-color: #f0aa0c">
                                <a class="font-weight-bold" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">All Services</a>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-12 animatedParent">
                    <div class="brand-carousel section-padding owl-carousel col-12 servicessection animated bounceInDown">
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item active servicescards">
                                    <img class="card-img-top" src="~/images/erps.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Enterprises Customer Relationship</h4>
                                        <p class="testfontsize">CRM helps organisations streamline processes, build customer relationships, increase sales,
                                        improve customer service, and increase profitability.</p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/DataBasedevelopment services.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">DataBase development</h4>
                                        <p class="testfontsize">Businesses use their databases to: Keep track of basic transactions. Provide information that will help the company
                                        run the business more efficiently.</p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/mobile 1.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Mobile Application Development</h4>
                                        <p class="testfontsize">Businesses are using mobiles apps to improve their work functionalities. Thus, increasing the level of
                                        approachability of their customers to them.</p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/travel.jpg" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Travel Management System</h4>
                                        <p class="testfontsize">
                                            A travel management system helps travel managers book,track,and analyze business,
                                            it refers a platform that offers travel inventory,policies,and reporting.
                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/crms.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Custom Software Development</h4>
                                        <p class="testfontsize">
                                            Use of the software is important for automation of the organisation's tasks as well as reporting the progress or
                                            lags in the organisation's activities.
                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/WebDevelopmentServicesSlider.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Web Development </h4>
                                        <p class="testfontsize">
                                            A website can increase your business revenue and bottom line.A website with a clear goal and strategy will help you
                                            grow your business
                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/social media.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Social Media Markeeting</h4>
                                        <p class="testfontsize">Customers can contact a customer service representative faster and easier now than
                                        ever before through  to social media</p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/seoservices.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Search Engine Optimization</h4>
                                        <p class="testfontsize">SEO is significant because it makes your website more visible, and that means more traffic and more opportunities to
                                        convert prospects into customers.</p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards">
                                    <img class="card-img-top" src="~/images/pos 1.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors font-weight-bold">Point Of Sale</h4>
                                        <p class="testfontsize">
                                            POS system helps you improve your operations for your customers.
                                            This includes reducing waiting time, faster scanning of items, quicker payments etc
                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center font-italic font-weight-bold headingtextcolors">About <span style="color:#f0aa0c"> Us</span></h2>
                </div>
            </div>
            <br />
            <div class="row animatedParent">
                <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInLeft">
                    <img class="card-img-top" src="~/images/aboutus.jpg" alt="about us ">
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="row animatedParent">
                        <div class="col p-3 aboutussections animated bounceInDown">
                            <h4 class="font-weight-bold" id="headingdots" style="font-size:18px;color:#05007f">
                                How can I request a change in my project / code / application?
                                <i class="fas fa-caret-down aboutussectioniconleftfirst" onclick="myFunction()" id="myBtn"style="transform:rotate(180deg)"></i>
                            </h4>
                        </div>
                        <br />
                    </div>
                    <br />
                    <div class="row">
                        <span id="more" class="p-5 aboutussubsections testfontsize">
                            <span id="dots"> </span>
                            Tri E-Solutions follows a standard procedure in this regard. As soon as a change request is submitted,
                            it is first confirmed by the client, and an impact analysis is performed. We get back to the client with altered deadlines and estimation of charges.
                            Once the approximations are sanctioned, we start employing the modifications at the earliest.
                        </span>
                    </div>
                    <br />
                    <div class="row animatedParent">
                        <div class="col p-3 aboutussections animated bounceInDown">
                            <h4 class="font-weight-bold" id="heading2dots" style="font-size:18px">
                                How many changes can I make to my site without additional cost?
                                <i class="fas fa-caret-down aboutussectioniconleftsecond" onclick="Myfuctionsection2()" id="section2myBtn"></i>
                            </h4>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <span id="section2more" class=" p-5 aboutussubsections testfontsize">
                            <span id="section2dots"> </span>
                            We give as much opportunity as we possibly can for changes and give 6 months maintenance service free of cost.
                            After you’ve recognized the common format and color schemes of your favored design, we will complete up to two rounds of major adjustments at no charge. Other minor changes are provided at no charge but within the period of 6 months.
                            If a client wants to add extra feature in website, then he/she has to pay for it.
                        </span>
                    </div>
                    <br />
                    <div class="row animatedParent">
                        <div class="col p-3 aboutussections animated bounceInDown">
                            <h4 class="font-weight-bold"id="heading3dots" style="font-size:18px">
                                How does the payment process work?
                                <i class="fas fa-caret-down aboutussectioniconleftthird" onclick="Myfuctionsection3()" id="section3myBtn"></i>
                            </h4>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <span id="section3more" class=" p-5 aboutussubsections testfontsize">
                            <span id="section3dots"> </span>
                            The project starts with a 50% deposit. After design sign off and before we move into development phase,
                            we collect client ideas and needs regarding business website. Formerly we have fulfilled and completed our scope,
                            the remaining 50% is collected and your website is then ready for launch
                        </span>
                    </div>
                    <br />
                    <div class="row animatedParent">
                        <div class="col p-3 aboutussections animated bounceInDown">
                            <h4 class="font-weight-bold" id="heading4dots" style="font-size:18px">
                                Will you provide a full copy/backup of our site if requested?
                                <i class="fas fa-caret-down aboutussectioniconleftfourth" onclick="Myfuctionsection4()" id="section4myBtn"></i>
                            </h4>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <span id="section4more" class="p-5 aboutussubsections testfontsize">
                            <span id="section4dots"> </span>
                            Yes we provide full copy or backup on clients’ requirement at no cost! A website owner
                            100% possess everything on his requirement that Markhor Technologies develops for them, and if requested we will provide just the once full backup of client’s website.
                            If other backups are required, there is a nominal charge of generally of work.
                        </span>
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12 animatedParent">
                    <h3 class="animated bounceInDown headingtextcolors">Who We Are?</h3>
                    <p class="testfontsize">
                        Tri E-solutions is a leading global provider of software engineering services for companies
                        in the mobile, desktop, server, and embedded systems industries.
                    </p>
                    <span class="btn mt-5  buttonhover" style="background-color: #f0aa0c">
                        <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="Aboutus">Learn More</a>
                    </span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-12 animatedParent">
                    <h3 class="animated bounceInDown headingtextcolors font-weight-bold">Our Mission</h3>
                    <p class="testfontsize">We love to build and refine technologies that improve lives while developing great relationships along the way.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-light mt-5">
        <div class="col-12 text-center">
            <h2 class="headingtextcolors font-italic font-weight-bold">TECHNOLOGY PARTNERS</h2>
            <p class="testfontsize">WE HELP INDUSTRIES IN THEIR DIGITAL TRANSFORMATION JOURNEY BY PROVIDING QUALITY SOFTWARE</p>
            <p>DESIGN & DEVELOPMENT SERVICES.</p>
        </div>
        <div class="row">
            <div class="brand-carousel section-padding owl-carousel TrainingPartnet mt-5">
                <div class="single-logo">
                    <div class="" style="width: 20rem;">
                        <img class="card-img-top ml-5 pl-5" src="~/images/Asp.net.png" alt="Card image cap">
                    </div>
                </div>
                <div class="single-logo">
                    <div class="" style="width: 20rem;">
                        <img class="card-img-top ml-5 pl-5" src="~/images/Sql Server.png" alt="Card image cap">
                    </div>
                </div>
                <div class="single-logo">
                    <div class="" style="width: 20rem;">
                        <img class="card-img-top ml-5 pl-5" src="~/images/JQuery.png" alt="Card image cap">
                    </div>
                </div>
                <div class="single-logo">
                    <div class="" style="width: 20rem;">
                        <img class="card-img-top ml-5 pl-5" src="~/images/Microsoft Office.png" alt="Card image cap">
                    </div>
                </div>
                <div class="single-logo">
                    <div class="" style="width: 20rem;">
                        <img class="card-img-top ml-5 pl-5" src="~/images/PowerBi.png" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  mt-5">
        <div class="col-12">
            <h2 class="text-center headingtextcolors font-italic font-weight-bold">Our <span style="color:#f0aa0c">Clients</span></h2>
            <p class="text-center testfontsize">We help People in their digital  Transformation Journey By Providing Quality Software Design & Development Services.</p>
        </div>
        <div class="row mt-5">
            <div class="brand-carousel section-padding owl-carousel clientssection mt-5 mb-5">
                <div class="single-logo" style="width:20rem">
                    <div class="">
                        <img class="card-img-top ml-5 pl-5" src="~/Images/dr.PNG" alt="Card image cap">
                    </div>
                </div>
                <div class="single-logo" style="width:20rem">
                    <div class="">
                        <img class="card-img-top ml-5 pl-5" src="~/Images/ss nursary.PNG" alt="Card image cap">
                    </div>
                </div>

                <div class="single-logo" style="width:20rem">
                    <div class="">
                        <img class="card-img-top ml-5 pl-5" src="~/images/Al khidmat.png" alt="Card image cap">
                    </div>
                </div>
                <div class="single-logo" style="width:20rem">
                    <div class="">
                        <img class="card-img-top ml-5 pl-5" src="~/Images/forschen.PNG" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.servicessection').owlCarousel({
            loop: true,
            margin: 0,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                }
            }
        })
        $('.TrainingPartnet').owlCarousel({
            loop: true,
            margin: 0,
            autoplay: true,
            responsive: {
                50: {
                    items: 1
                },
                500: {
                    items: 2
                },
                800: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })

        //**************************************
        function myFunction() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("myBtn");
            var section2moretext = document.getElementById("section2more");
            var section3moretext = document.getElementById("section3more");
            var section4moretext = document.getElementById("section4more");
            var headingdotstext = document.getElementById("headingdots");
            var heading2dotstext = document.getElementById("heading2dots");
            var heading3dotstext = document.getElementById("heading3dots");
            var heading4dotstext = document.getElementById("heading4dots");
            var section3myBtnrotation = document.getElementById("section3myBtn");
            var section4myBtnrotation = document.getElementById("section4myBtn");
            var section2myBtnrotation = document.getElementById("section2myBtn");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = " ";
                moreText.style.display = "none";
            } else {
                //dots.style.display = "none";
                btnText.innerHTML = " ";
                moreText.style.display = "inline";
                section2moretext.style.display = "none";
                section3moretext.style.display = "none";
                section4moretext.style.display = "none";
                headingdotstext.style.color = "#05007f";
                heading2dotstext.style.color = "black";
                heading3dotstext.style.color = "black";
                heading4dotstext.style.color = "black";
                btnText.style.transform = "rotate(180deg)";
               
            }
        }
        //****************************************
        function Myfuctionsection2() {
            var dots = document.getElementById("section2dots");
            var moreText = document.getElementById("section2more");
            var btnText = document.getElementById("section2myBtn");
            var section1moretext = document.getElementById("more");
            var section3moretext = document.getElementById("section3more");
            var section4moretext = document.getElementById("section4more");
            var headingdotstext = document.getElementById("headingdots");
            var heading2dotstext = document.getElementById("heading2dots");
            var heading3dotstext = document.getElementById("heading3dots");
            var heading4dotstext = document.getElementById("heading4dots");
            var section3myBtnrotation = document.getElementById("section3myBtn");
            var section4myBtnrotation = document.getElementById("section4myBtn");
            var section1myBtnrotation = document.getElementById("myBtn");

            if (section2dots.style.display === "none") {
                section2dots.style.display = "inline";
                btnText.innerHTML = " ";
                moreText.style.display = "none";
            } else {
                //section2dots.style.display = "none";
                btnText.innerHTML = " ";
                moreText.style.display = "inline";
                section1moretext.style.display = "none"
                section3moretext.style.display = "none";
                section4moretext.style.display = "none";
                heading2dotstext.style.color = "#05007f";
                headingdotstext.style.color = "black";
                heading3dotstext.style.color = "black";
                heading4dotstext.style.color = "black";
                btnText.style.transform = "rotate(180deg)";
                section3myBtnrotation.style.transform = "rotate(360deg)";
                section4myBtnrotation.style.transform = "rotate(360deg)";
                section1myBtnrotation.style.transform = "rotate(360deg)";
            }
        }

        //*****************************************
        function Myfuctionsection3() {
            var dots = document.getElementById("section3dots");
            var moreText = document.getElementById("section3more");
            var btnText = document.getElementById("section3myBtn");
            var section1more = document.getElementById("more");
            var section2moretext = document.getElementById("section2more");
            var section4moretext = document.getElementById("section4more");
            var heading3dotstext = document.getElementById("heading3dots");
            var heading2dotstext = document.getElementById("heading2dots");
            var headingdotstext = document.getElementById("headingdots");
            var heading4dotstext = document.getElementById("heading4dots");
            var section2myBtnrotation = document.getElementById("section2myBtn");
            var section4myBtnrotation = document.getElementById("section4myBtn");
            var section1myBtnrotation = document.getElementById("myBtn");

            if (section3dots.style.display === "none") {
                section3dots.style.display = "inline";
                btnText.innerHTML = " ";
                moreText.style.display = "none";
            } else {
                //section3dots.style.display = "none";
                btnText.innerHTML = " ";
                moreText.style.display = "inline";
                section1more.style.display = "none"
                section2moretext.style.display = "none";
                section4moretext.style.display = "none";
                heading3dotstext.style.color = "#05007f";
                heading2dotstext.style.color = "black";
                headingdotstext.style.color = "black";
                heading4dotstext.style.color = "black";
                btnText.style.transform = "rotate(180deg)";
                section2myBtnrotation.style.transform = "rotate(360deg)";
                section4myBtnrotation.style.transform = "rotate(360deg)";
                section1myBtnrotation.style.transform = "rotate(360deg)";
            }
        }

        //*****************************************
        function Myfuctionsection4() {
            var dots = document.getElementById("section4dots");
            var moreText = document.getElementById("section4more");
            var btnText = document.getElementById("section4myBtn");
            var section1more = document.getElementById("more");
            var section2moretext = document.getElementById("section2more");
            var section3moretext = document.getElementById("section3more");
            var headingdotstext = document.getElementById("headingdots");
            var heading2dotstext = document.getElementById("heading2dots");
            var heading3dotstext = document.getElementById("heading3dots");
            var heading4dotstext = document.getElementById("heading4dots");
            var section3myBtnrotation = document.getElementById("section3myBtn");
            var section2myBtnrotation = document.getElementById("section2myBtn");
            var section1myBtnrotation = document.getElementById("myBtn");
            
            if (section4dots.style.display === "none") {
                section4dots.style.display = "inline";
                btnText.innerHTML = " ";
                moreText.style.display = "none";
            } else {
                //section4dots.style.display = "none";
                btnText.innerHTML = " ";
                moreText.style.display = "inline";
                section1more.style.display = "none"
                section2moretext.style.display = "none";
                section3moretext.style.display = "none";
                heading4dotstext.style.color = "#05007f";
                heading2dotstext.style.color = "black";
                heading3dotstext.style.color = "black";
                headingdotstext.style.color = "black";
                btnText.style.transform = "rotate(180deg)";
                section3myBtnrotation.style.transform = "rotate(360deg)";
                section2myBtnrotation.style.transform = "rotate(360deg)";
                section1myBtnrotation.style.transform = "rotate(360deg)";

            }
        }
        //***********************************************
        $('.clientssection').owlCarousel({
            loop: true,
            margin: 10,
            autoplay: true,
            responsive: {
                50: {
                    items: 1
                },
                500: {
                    items: 2
                },
                800: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>

</body>
