
@{
    ViewData["Title"] = "MobileAppDevelopment";
}

<body class="body-content">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">Services</a>
            </div>
        </div>
    </section>
    <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4 class="">
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Custom Software Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="WebDevelopment">Web Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12" style="background-color:#f0aa0c">
                            <h4>
                                <a class="" style="text-decoration:none; color:white" asp-area="" asp-controller="Home" asp-action="MobileAppDevelopment">Mobile application</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="DataBaseDevelopment">Database Development</a>
                            </h4>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="POSSolutions">POS Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="ERPSolutions">ERP Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CRMSolutions">CRM Solutions</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <img class="w-100" src="~/images/mobile App Development.jpg" alt="Responsive image /">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                It is crystal clear that the demand of mobile apps has escalated in all businesses. To cope with that,
                                we become your accelerator to design and develop brilliant mobile applications. 
                                Tri E-Solutions is offering mobile application development services for iPhone, iPad and Android.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Our team of mobile app developers is creative and knowledgeable to accomplish your individual demands
                                as well as your business needs. With advanced tools and technology our mobile apps developers are able to 
                                create highly customized mobile applications for consumer needs and enterprises. Our experience and past work 
                                are the showcase of our brilliance in mobile applications development.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col-12 bg-light">
                            <h3 class="mt-5 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="hoveronbutton btn mb-3 w-50 h-30 font-weight-bold" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12 animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col">
                            <h3 class="mt-5 headingtextcolors">Mobile Apps Development Services We Offer</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <hr style="border: 1px solid #f0aa0c" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="testfontsize">
                                We create long-term value for our clients by identifying both risk, and opportunities in the marketplace.
                                Allow us to address your long-term changes or long-term challenges, and watch your business grow as a result.
                            </p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft">
                                <div class="col-4 servicesIconDiv">
                                    <i class="fas fa-mobile-alt fa-4x mt-5 servicesIcon"style="left:35%;top:30%"></i>

                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">IPad App Development</h3>
                                    <p class="mb-5 testfontsize">
                                        We can make your iPad apps idea tops the chart by executing it accordingly.We exhibit our tenacity 
                                        by making completely bug-free iPad apps.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv">
                                    <span class="glyphicon glyphicon-hdd fa-4x mt-5 servicesIcon"style="left:15%;top:25%"></span>

                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Android App Development</h3>
                                    <p class="mb-5 testfontsize">
                                        Be it social media, restaurants, health care, sports, education sector, etc., we design & develop every type of
                                        Android Apps for smartphones & tablets.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon glyphicon glyphicon-fullscreen fa-4x servicesIcon"style="left:15%;top:40%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Cross-Platform App Development</h3>
                                    <p class="mb-5 testfontsize">
                                        Tri E-Solutions offers you to cut development & maintenance costs with cross-platform apps 
                                        that work seamlessly on iOS, Android etc.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animated">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon glyphicon glyphicon-phone fa-4x servicesIcon"style="left:15%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 servicesheadingtexthover">IPhone Application Development</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        We build elegant and engaging iPhone applications that will not only make your business lucrative but also performance oriented.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-12 mb-2">
                                <p class="testfontsize">
                                    Picking the right approach to mobile app development is a critical success factor that can make or break your project.
                                    Tri E-Solutions  mobile app developers typically use an agile, 
                                    low-risk mobile development methodology that has a proven success record and ensures rapid results and 100% visibility.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInLeft">
                            <div class="col-12 mb-2">
                                <img class="w-100" src="~/images/LAUNCH APP DEVELOPMENT.png" alt="Responsive image /">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInRight">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">WHY LAUNCH APP DEVELOPMENT WITH US</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        We know how to deliver high-quality mobile software and how to do effective business with you. Rapid,
                                        transparent, time- and cost-efficient development aren’t the characteristics we try to impress our customers with;
                                        these are what makes up the basis of our attitude to any project. Drop us a line to learn more about our competencies 
                                        in your industry, consult with our professionals regarding your idea or request custom mobile applications development right away.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 animated bounceInDown">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">FULL-CYCLE DEVELOPMENT SERVICES</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        All our specialists are on a high alert to deliver all-round custom mobile app development services,
                                        from consulting and project specification to integration, deployment and market release. We cover: 
                                        Mobile consulting, Business analysis, UI/UX design, Native or cross-platform mobile application development,
                                        Mobile testing (Unit testing and UI Automation) & Backend integration or publication on the App Store, Google Play or Microsoft Store.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 pt-5 animated bounceInDown">
                            <div class="col-12 mt-5 pt-5">
                                <img class="w-100" src="~/images/FULL CYCLE DEVELOPMENT.jpg" alt="Responsive image /">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>