
@{
    ViewData["Title"] = "POSSolutions";
}

<body class="body-content">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">Services</a>
            </div>
        </div>
    </section>
    <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4 class="">
                                <a class=" sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Custom Software Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="WebDevelopment">Web Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="MobileAppDevelopment">Mobile application</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="DataBaseDevelopment">Database Development</a>
                            </h4>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12" style="background-color:#f0aa0c">
                            <h4>
                                <a class="" style="text-decoration:none; color:white" asp-area="" asp-controller="Home" asp-action="POSSolutions">POS Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="ERPSolutions">ERP Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CRMSolutions">CRM Solutions</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <img class="w-100" src="~/images/point.jpg" alt="Responsive image /">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Point of Sale, or POS as it is more commonly abbreviated, refers to the capturing of data and customer payment 
                                information at a physical location when goods or services are bought and sold. The POS transaction is captured 
                                using a variety of devices which include computers, electronic cash registers or ECR's, optical and bar code scanners,
                                magnetic card readers, or any combination of these devices.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                The right CRM solution can embed best practices unique to your industry, work with your company's specific business processes,
                                help you keep pace with rapid changes 
                                in your business and market, deliver quantifiable business results, and mitigate expense and risk for your business.


                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                A good CRM gives you insights into running your business. A smart CRM gives you the
                                information you need in a way that you can use it. An ideal CRM offers you a solution to simplify your processes from day one. 
                                Tri e-solution Express CRM includes the good, the smart, and the ideal in an enterprise-ready package.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col-12 bg-light">
                            <h3 class="mt-5 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="btn mb-3 w-50 h-30 buttonhover font-weight-bold" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12 animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col">
                            <h3 class="mt-5 headingtextcolors">Increase Efficiency & Reduce Complexity</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <hr style="border: 1px solid #f0aa0c" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                Integrated CRM which makes Customer Management easy with Contacts, Leads, Opportunities, Accounts, Campaigns, Products, Reports,
                                Revenue Forecasting and more.
                            </p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon fa fa-coffee fa-4x servicesIcon"style="left:15%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Full Restaurant POS</h3>
                                    <p class="mb-5 testfontsize">
                                        Our solutions are great for small, medium, large restaurants. We service customers ranging from a single point of sale terminal.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animated">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv">

                                    <span class="icon fa fa-gift fa-4x servicesIcon"style="left:25%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 servicesheadingtexthover">Retails POS System</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        Use analytics and reports for detailed metrics about your team's performance and your customers' life cycle.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">

                                    <span class="icon fa fa-cart-plus fa-4x servicesIcon"style="left:20%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 pt-3 servicesheadingtexthover">Super Market POS</h3>
                                    <p class="mt-5 pt-5 ptestfontsize">
                                        Turning Challenges into Opportunities: Tri e-solutions Integration for supermarket.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">

                                    <span class="icon fa fa-birthday-cake fa-4x servicesIcon"style="left:35%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Event POS System</h3>
                                    <p class="mb-5 testfontsize">
                                        Tri e-solutions offers the the best award winning Point of Sale system in the market place.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft">
                                <div class="col-4 servicesIconDiv">


                                    <span class="icon fa fa-book fa-4x servicesIcon"style="left:25%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Stationary POS System</h3>
                                    <p class="mb-5 testfontsize">
                                        Tri e-solutions is an excellent solution house  for management of books & stationery retail business.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv">

                                    <i class="fas fa-pills fa-4x servicesIcon"style="left:20%;top:35%"></i>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Pharmacy POS System</h3>
                                    <p class="mb-5 testfontsize">
                                        Tri e-solutions helps pharmacies of all sizes to streamline all their retail operations. .
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-12 mb-2">
                                <p class="testfontsize">
                                    We believe in quality of our products and security of our customers’ data and thus follow measures
                                    that are in compliance with the universal standards.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 ">
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 pt-3 animatedParent">
                            <div class="col-12 mt-5 pt-5 animated bounceInLeft">
                                <img class="w-100" src="~/images/Our Support.jpg" alt="Responsive image /">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row animatedParent">
                                <div class="col-12 animated bounceInRight">
                                    <h3 class="mb-5 headingtextcolors">Our Support</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Support plays a key role in providing high quality products to the customers.
                                        As Tri e-Solutions Technicians and Systems Engineers are among the qualified and experienced in the industry,
                                        we’re confident that your experience with our product support team will exceed your expectations.
                                        Tri e-Solutions can offer challenges and our staff are not just IT support, 
                                        allowing our fully integrated, bilingual specialist to navigate potential
                                        cross-cultural difficulties with support and implementations.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-md-12 col-sm-12 animatedParent">
                            <div class="row animated bounceInDown">
                                <div class="col-12">
                                    <h3 class="mb-5 headingtextcolors">Customer Loyalty & Satisfaction</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Transform stores into true experience destinations and empower closer
                                        relationships between customers and knowledgeable store staff to achieve the highest level of personalized service.
                                        Customer Satisfaction is a measurement of customer attitudes regarding products, services, and brands.
                                        Customer Loyalty consists of loyalty behavior 
                                        (also referred to as customer retention) which is the act of customers making repeat purchases of current brands,
                                        rather than choosing competitor brands.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 pt-3 animatedParent">
                            <div class="col-12 mt-5 pt-5 animated bounceInDown">
                                <img class="w-100" src="~/images/Boost customer loyalty  satisfaction.png" alt="Responsive image /">
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</body>