@{
    ViewData["Title"] = "Seo";
}
<body class="body-cntent">

    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">Services</a>
            </div>
        </div>
    </section>
    <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row">
                        <div class="col-12 text-white backgroundcolors">
                            <h4>SEO</h4>
                        </div>

                        <div class="col-12 bg-light mt-5 pt-3">
                            <h3 class="mt-3 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="btn mb-3 w-50 h-30 buttonhoverfont-weight-bold" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <img class="w-100" src="~/images/seo11.png" alt="Responsive image /">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5 mb-5 bg-light">
        <div class="offset-1">
            <div class="row">
                <div class="col-lg-2 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="col text-center" style="padding:30px">
                                <h2 class="font-italic font-weight-bold headingtextcolors">Our Services</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-12 ml-5">
                    <div class="brand-carousel section-padding owl-carousel col-12 servicessection ml-2">
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards" style="height:450px">
                                    <img class="card-img-top" src="~/images/SeoSlider.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors">Search Engine Optimezation</h4>
                                        <p class="testfontsize">
                                            SEO can help you build better relationships with your audience, improve the customer experience, 
                                            increase your authority, drive more people to your site,
                                            give you an edge.

                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards"style="height:450px">
                                    <img class="card-img-top" src="~/images/contetwriting.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors">Content Writing</h4>
                                        <p class="testfontsize">
                                            A good content writing is useful for search engine optimisation that is,
                                            making rank of the site higher. Creating content and posting to your website is the best way to reach your potential customers.
                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards" style="height:450px">
                                    <img class="card-img-top" src="~/images/social media.png" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors">Social Media Marketing</h4>
                                        <p class="testfontsize">
                                            Social benefits are private benefits gained by individuals directly involved 
                                            in a transaction together with the external benefits gained by third parties not directly involved in the transaction.

                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="single-logo">
                            <div class="col-12">
                                <div class="card item servicescards"style="height:450px">
                                    <img class="card-img-top" src="~/images/digitalmarkeeting.jpg" alt="Card image cap">
                                    <div class="card-body text-center">
                                        <h4 class="card-title headingtextcolors">Digital Media Marketing</h4>
                                        <p class="testfontsize">
                                            The importance of digital marketing is that you can easily track and monitor your campaigns.
                                            When you invest time and money into your campaigns, you want to know that they are working.
                                        </p>
                                        <div class="mb-0">
                                            <button type="button" class="btn btn-circle rounded-circle">
                                                <i class="fa fa-chevron-circle-right fa-3x "></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-12  mt-5 animatedParent">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3 class="text-center animated bounceInDown headingtextcolors">What Is SEO / Search Engine Optimization?</h3>
                    <hr style="border: 1px solid #f0aa0c"/>
                    <p class="animated bounceInLeft testfontsize">
                        SEO means the process of improving your site to increase its visibility for relevant searches.
                        The better visibility your pages have in search results, the more likely you are to garner attention and attract prospective and existing customers
                        to your business.
                    </p>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h3 class="text-center animated bounceInDown headingtextcolors">Why is SEO important for marketing?</h3>
                    <hr />
                    <p class="animated bounceInRight testfontsize">
                        SEO is a fundamental part of digital marketing because people conduct trillions of searches every year, often with commercial
                        intent to find information about products and services. Search is often the primary source of digital traffic for brands and
                        complements other marketing channels. Greater visibility and ranking higher in search results than your competition can have
                        a material impact on your bottom line.
                    </p>
                    <p class="animated bounceInLeft testfontsize">
                        However, the search results have been evolving over the past few years to give users more direct answers and information that
                        is more likely to keep users on the results page instead of driving them to other websites.
                    </p>
                    <p class="animated bounceInRight testfontsize">
                        Also note, features like rich results and Knowledge Panels in the search results can increase visibility and provide users
                        more information about your company directly in the results.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mt-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center headingtextcolors">Why Choose Us For SEO Services?</h2>
                <hr style="border: 1px solid #f0aa0c"/>
            </div>
        </div>
        <div class="row animatedParent">
            <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInLeft" style="height:350px">
                <div class=" cadshover">
                    <div class="card-body text-center">
                        <h3 class="card-title headingtextcolors">SEO Audit</h3>
                        <p class="mt-5 testfontsize">
                            After we are done identifying all the technical SEO issues, current online presence,
                            filtering keywords and end user behavior pattern- we come up with a detailed report on our expert analysis. Besides,
                            we also keep in mind the client’s customized needs and provide bespoke solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInDown" style="height:350px">
                <div class=" cadshover">
                    <div class="card-body text-center">
                        <h3 class="card-title headingtextcolors ">Optimization</h3>
                        <p class="mt-5 testfontsize">
                            Alongside your team, Digipanda, will focus upon on-page and off-page elements in order to implement a
                            targeted SEO campaign for your business.
                            The industry experts at our SEO Company are well experienced in compiling the best SEO campaigns.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInDown" style="height:350px">
                <div class=" cadshover">

                    <div class="card-body text-center">
                        <h3 class="card-title headingtextcolors">Monitoring</h3>
                        <p class="mt-5 testfontsize">
                            Search engine optimization is not something that you implement and forget! It needs consistent eyeing and necessary detailing in relevance
                            with latest industry trends. Our industry experts aim for long-term results and constant opportunities to grow.
                            Our experts keep an eye on your campaign and continuously refine it to bring you the very best results and a sustainable online presence.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 animated bounceInRight" style="height:350px">
                <div class=" cadshover">
                    <div class="card-body text-center">
                        <h3 class="card-title headingtextcolors">Reporting</h3>
                        <p class="mt-5 testfontsize">
                            We believe in numbers, and we are sure that you do too! Therefore,
                            we analyze, interpret and draft a data to prove what we claim! As your campaign progresses,
                            we'll deliver insights and reports that outline wins, trends, opportunities and strategies for the future.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        $('.servicessection').owlCarousel({
            loop: true,
            margin: ,
            autoplay: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                }
            }
        })
    </script>
</body>