
@{
    ViewData["Title"] = "WebDevelopment";
}


<body class="body-content">
    <section class="page" style="background-image: url(/images/ServicesHeader.jpg);">
        <div class="auto-container">
            <h1 style="color:black">Services</h1>
            <div class="text-center">
                <a style="color:black">Home</a>
                <span style="color:black">/</span>
                <a style="color:#f0aa0c">Services</a>
            </div>
        </div>
    </section>
    
    <div class="mt-5" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none">
                    <div class="row sidenavhover">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4 class="">
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CustomSoftwareDevelopment">Custom Software Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-white" style="background-color:#f0aa0c">
                            <h4>
                                <a class="" style="text-decoration:none; color:white" asp-area="" asp-controller="Home" asp-action="WebDevelopment">Web Development</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2 ">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="MobileAppDevelopment">Mobile application</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="DataBaseDevelopment">Database Development</a>
                            </h4>

                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="POSSolutions">POS Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="ERPSolutions">ERP Solutions</a>
                            </h4>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 bg-light sidenavbghover">
                            <h4>
                                <a class="sidenavtexthovers" style="text-decoration:none; color:black" asp-area="" asp-controller="Home" asp-action="CRMSolutions">CRM Solutions</a>
                            </h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <img class="w-100" src="~/images/WebDevelopmentSlider.jpeg" alt="Responsive image /">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <p class="testfontsize text-justify">
                                Tri E-Solutions is a leading web design & development company in Lahore, Pakistan specialized in web development,
                                website design, logo design, web hosting, domain registration, content writing, Search Engine Optimization,
                                e-commerce solution and graphic designing. We also provide competitive offshore outsourcing of Web design, web development,
                                Profile design, E-brochure designing to all companies not only in Lahore but also around the world.
                            </p>
                        </div>
                    </div>
                    <div class=" row bt-3">
                        <div class="col-12">
                            <p class="testfontsize">
                                Our Mission is to provide quality and cost effective web design & development in Pakistan to build a high-quality brand in online environment world wide.
                                Our vision is to make the Tri E-Solutions 
                                a leading website designing company of Pakistan, that provides satisfactory services to companies in all spheres of life.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="position: static; max-width:1200px; padding: 0px 15px; margin: 0 auto">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 d-xl-block d-lg-block d-md-none d-sm-none d-none animatedParent">
                    <div class="row">
                        <div class="col-12 bg-light animated bounceInDown">
                            <h3 class="mt-5 pt-3">
                                Free Consultation
                            </h3>
                            <hr style="border: 1px solid #f0aa0c"/>
                            <p class="testfontsize">
                                These days are all share them with much more than a hunch.
                            </p>
                            <div class="text-center mt-5">
                                <span class="btn mb-3 w-50 h-30 buttonhover font-weight-bold" style="background-color: #f0aa0c">
                                    <a class="" style="color:white;text-decoration:none;font-size:20px" asp-area="" asp-controller="Home" asp-action="ContactUS">Contact Us</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12 animatedParent">
                    <div class="row animated bounceInDown">
                        <div class="col">
                            <h3 class="mt-5 headingtextcolors">Web Design & Development Services</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <hr style="border: 1px solid #f0aa0c" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="testfontsize">
                                At Tri E-Solutions, we have a team of very much professional and experienced
                                web developers/designers who all are very expert in their relevant fields. 
                                We can either use your existing business branding, or we can work with your to create you a whole
                                new branding image and develop your website around it. We concentrate on making highly interactive,
                                simple and elegant websites, so every website we build is bespoke, we use our years of experience to 
                                create a website built using the latest technologies such as HTML5, CSS3 and jQuery. Our websites can 
                                be optimized to allow them to be viewed on mobile devices such as Apple iOS and Android.


                            </p>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInLeft">
                                <div class="col-4 servicesIconDiv">
                                    <span class="glyphicon glyphicon-th fa-4x servicesIcon"style="left:15%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 pt-2 servicesheadingtexthover">Web Designing</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        We want to maximize the reach and impact of your brand & will create a website that will 
                                        tempt your visitors to keep navigating through it.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInRight">
                                <div class="col-4 servicesIconDiv">
                                    <span class="glyphicon glyphicon-th-list fa-4x servicesIcon"style="left:12%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Web Hosting</h3>
                                    <p class="mb-5 testfontsize">
                                        We provide Internet hosting service that allows individuals and organizations to make their website
                                        accessible via the World Wide Web.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4 ">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <span class="icon fa fa-code fa-4x servicesIcon"style="left:15%;top:35%"></span>
                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mt-5 servicesheadingtexthover">Web Development</h3>
                                    <p class="mt-5 pt-5 testfontsize">
                                        Tri E-Solutions professional web developer performs the technical implementation and software development of a website.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 animatedParent">
                            <div class="row p-3 servicesdiv animated bounceInDown">
                                <div class="col-4 servicesIconDiv">
                                    <i class="fa fa-laptop fa-4x servicesIcon" aria-hidden="true" style="left:15%;top:35%"></i>

                                </div>
                                <div class="col-8 bg-light p-5">
                                    <h3 class="mb-5 servicesheadingtexthover">Web Application</h3>
                                    <p class="mb-5 testfontsize">
                                        A web application is a computer programme that allows you to log-in to a web address in order to submit and retrieve data to 
                                        database over the internet.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="col-12 mb-2">
                                <p class="testfontsize">
                                    Since 2019, Tri E-Solutions have been serving a broad range of clients including SMEs, hospitals and educational institutes located in Pakistan and abroad. 
                                    We also work as offshore partners for various software houses and web solution providers across the globe.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 pt-5 animated bounceInLeft">
                            <div class="col-12 mt-5 pt-2">
                                <img class="w-100" src="~/images/Designing Task for Business Goals.jpg" alt="Responsive image /">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row animated bounceInRight">
                                <div class="col-12">
                                    <h3 class=" headingtextcolors">Designing Task for Business Goals</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        We design with target audience in mind. This makes our work smack the right harmonies and accomplish business objectives.
                                        Our team appreciates that every professional has exceptional set of necessities and remembers the same while working on website design.
                                        We have created ideal web designs for innovative professionals, medical practitioners, hotels, 
                                        transportation / traveling agencies, human rights organizations, cosmetics, sports, and many others.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 animatedParent">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="row animated bounceInDown">
                                <div class="col-12">
                                    <h3 class="mb-5 animated flip headingtextcolors">Development Task for Business Goals</h3>
                                    <hr style="border: 1px solid #f0aa0c"/>
                                    <p class="mb-5 testfontsize">
                                        Tri E-Solutions (Pvt.) Ltd has the team of expert web developers and designers. 
                                        We proudly provide our service of development that helping businesses and online marketers realize the true power of web.
                                        In the role of Web Design & Development Company, we have developed many business ecommerce websites and software solution.
                                        With the best programmers and designers of Tri E-Solutions, 
                                        we can take your business to the next level of success and assuring you an entire year’s technical support for free!!!

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-5 pt-5 animated bounceInDown">
                            <div class="col-12 mt-5 pt-5">
                                <img class="w-100 " src="~/images/Bussiness Task Ideas.jpg" alt="Responsive image /">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>